
{% block page %}

    <h1>Order's info</h1>
    <div>Name: {{ object.name}}</div>
    {% if order.contacts %}
            <div>Контакты: {{ object.contacts }}</div>
        {% else %}
            <span>No contacts</span>
    {% endif %}<br>
    <div>Client: {{ object.client}}</div>
    {% if order.description %}
            <div>Доп. информация: {{ object.description }}</div>
        {% else %}
            <span>No description</span>
    {% endif %}
    <div>Finished: {{ object.finished }}</div>
    <div>Created: {{ object.created_at }}</div>



{% endblock %}

